
body {
    background-color: black;
    width: 700px;
    border: dotted hotpink 20px;
}
main {
    background-color: rosybrown;
    width: 500px;
    color: black;
    font-size: 25px;
}

h1 {
    color: black;
    font-style: bold underline;
    border: pink solid 10px;
    padding: 10px 5px 10px 5px;
}
p {
    font-size: 14px;
    font-style: bold;
}