body {
    background-color: teal;
    max-width: 1100px; 
    border: dotted white 5px;
  
  }
  
  main {
    justify: right;
    padding-left: 200px;
    max-width: 800px;
  }
  
  .monkeypic {
    float: left;
    padding-right: 10px;
  }
  
  h1 {
    color: aquamarine;
    font-style: italic;
    font-size: 50px;
    padding: 2px;
    border: double 14px white;
  }
  
  h2 {
    color: lightblue;
    text-align: center;
    font-size: 37px;
    border: dashed lightgreen 6px;
  }
  
  h3 {
    color: white;
    text-align: right;
    font-size: 20px;
  }
  
  h4 {
    color: yellow;
    text-decoration: underline;
  }
  
  h5 {
    color: lightpink;
    font-weight: bold;
  }
  
  sidebar {
    position: absolute;
    top: 100px;
    left: 20px;
    border: double blue 10px;
  }
  
  section {
    padding-left: 200px;
    display: flex;
    justify-content: space-around;
  }
  
  mark {
    background-color: pink;
    color: black;
    font-weight: bold;
  }
  
  .donkeys {
    border: double 5px green;
  }
  
  .parrots {
    border: dashed 5px yellow;
    height: 100px;
  }
  
  .cats {
    border: dotted 5px blue;
    height: 83px;
  }
  
  .owls {
    border: double pink 5px;
    height: 92px;
  }
  
  .text {
     padding-left: 200px;
     color: lightgreen;
  }
  
  .horsepic {
    float: right;
    padding-right: 5px;
    padding-left: 10px;
  }
  
  footer {
    width: 500px;
    height: 200x;
    padding-left: 200px;
  
  }
  
  .relativeexample2 {
   position: relative;
   bottom: 30px;
   left: 100px;
   
  
  }
  